@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'EauBold';
  src: url('/fonts/eau_naturelle_sans_bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EauHeavy';
  src: url('/fonts/eau_naturelle_sans_heavy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EauLight';
  src: url('/fonts/eau_naturelle_sans_light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EauMedium';
  src: url('/fonts/eau_naturelle_sans_medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EauRegular';
  src: url('/fonts/eau_naturelle_sans_regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EauThin';
  src: url('/fonts/eau_naturelle_sans_thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: white;
}

.mapboxgl-popup-close-button {
  padding: 10px; /* Adjust the padding as needed */
}