/* Custom styles for the slider thumb */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default appearance */
  appearance: none;
  width: 12px; /* Set a specific slider handle width */
  height: 30px; /* Set a specific slider handle height */
  background: #ff8312; /* Slider handle color */
  cursor: pointer;
  border-radius: 20%; /* Makes it circular */
  border: 2px solid #ff8312; /* Adds a border */
  margin-top: 15px;
}

.slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #4B5563;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFF;
}

.slider::-ms-thumb {
  width: 24px;
  height: 24px;
  background: #4B5563;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFF;
}

.video-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default appearance */
  appearance: none;
  width: 12px; /* Set a specific slider handle width */
  height: 30px; /* Set a specific slider handle height */
  background: #7d53b5; /* Slider handle color */
  cursor: pointer;
  border-radius: 20%; /* Makes it circular */
  border: 2px solid #7d53b5; /* Adds a border */
  margin-top: 15px;
}

.video-slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #4B5563;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFF;
}

.video-slider::-ms-thumb {
  width: 24px;
  height: 24px;
  background: #4B5563;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFF;
}